a:visited {
    color: #fff;
}

header {
    background: #503fb2;
    padding-top: 30px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #d358f7;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Baloo Tammudu', cursive;
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}

.nav2 {
    visibility: hidden;
}

.navdetail {
    color: #fff;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 !important;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    flex: 1;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    flex: 1;
}

em {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

li a {
    color: #503fb2;
    text-decoration: none;
}

li a:visited {
    color: #503fb2;
}

footer a {
    color: #503fb2;
}
footer a:visited {
    color: #503fb2;
}
