/* 플랫 디자인 스타일 */
body.dark-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #25293c;
}

.dark-mode div {
    color: #cfcde4;
    box-sizing: border-box;
}

.dark-mode h1 {
    font-size: 32px;
    color: #cfcde4;
}

.dark-mode input[type='text'] {
    padding: 15px 15px 15px 0;
    width: 100%;
    font-size: 22px;
    color: #cfcde4;
    background-color: inherit;
    border-bottom: 2px solid #fff;
    outline: none;
    transition: background-color 0.3s ease;
}

.dark-mode input[type='text']:focus {
    background-color: inherit;
}

.dark-mode .wrong {
    color: red;
}

.dark-mode .body-container {
    display: flex;
    max-width: 800px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.dark-mode .body-wrapper {
    padding: 40px;
    flex: 0.68;
    min-height: 210px;
    background-color: #2f3349;
    border-radius: 15px;
}

.dark-mode .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    max-width: 800px;
    width: 100%;
}

.dark-mode .segment-wrapper {
    display: flex;
}

.dark-mode .segment-wrapper div {
    text-align: center;
    margin-right: 15px;
    padding: 5px 10px;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.dark-mode .segment-wrapper div:last-child {
    margin-right: 0;
}

.dark-mode .segment-wrapper div:hover {
    color: #000;
    background-color: #fff;
    transition: all 0.5s;
}

.dark-mode .component-wrapper {
    flex: 0.3;
}

.dark-mode .component-wrapper > div {
    padding: 10px;
    border-radius: 15px;
}

.dark-mode .kpm-wrapper,
.dark-mode .prev-wrapper,
.dark-mode .record-wrapper,
.dark-mode .elapsedTime-wrapper {
    display: inline-block;
    margin-right: 10px;
    background-color: #2f3349;
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.dark-mode .kpm-wrapper,
.dark-mode .elapsedTime-wrapper {
    margin-bottom: 10px;
}

.dark-mode .kpm-wrapper,
.dark-mode .record-wrapper {
    margin-right: 0;
}

.dark-mode .prev-wrapper,
.dark-mode .record-wrapper {
    margin-bottom: 0;
}

.dark-mode .kpm-wrapper > p,
.dark-mode .prev-wrapper > p,
.dark-mode .record-wrapper > p,
.dark-mode .elapsedTime-wrapper > p {
    margin-right: 10px;
    margin-bottom: 30px;
    width: 75px;
}

.dark-mode #elapsedTime {
    display: inline-block;
    width: 55px;
    text-align: end;
}

.dark-mode #kpm {
    display: inline-block;
    width: 30px;
    text-align: end;
}

.dark-mode #prev {
    display: inline-block;
    width: 30px;
    text-align: end;
}

.dark-mode #textToType {
    font-size: 22px;
    margin-bottom: 20px;
    color: #aaa;
}

.dark-mode #record {
    display: inline-block;
    width: 30px;
    text-align: end;
}

.dark-mode #result {
    margin-top: 20px;
    font-size: 20px;
}

.dark-mode #result.success {
    color: #4caf50;
}

.dark-mode #result.error {
    color: #e57373;
}