/* 플랫 디자인 스타일 */
body.dark-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #25293c;
}

.dark-mode div {
    color: #cfcde4;
    box-sizing: border-box;
}

.dark-mode h1 {
    font-size: 32px;
    color: #cfcde4;
}

.dark-mode input[type='text'] {
    padding: 15px 15px 15px 0;
    width: 100%;
    font-size: 22px;
    color: #cfcde4;
    background-color: inherit;
    border-bottom: 2px solid #fff;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease;
}

.dark-mode input[type='text']:focus {
    background-color: inherit;
}

.dark-mode .wrong {
    color: red;
}

.dark-mode .container {
    padding: 40px;
    width: 100%;
    max-width: 600px;
    min-height: 415px;
    background-color: #2f3349;
    border-radius: 15px;
}

.dark-mode .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
}

.dark-mode .segment-wrapper {
    display: flex;
}

.dark-mode .segment-wrapper div {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.dark-mode .segment-wrapper div:last-child {
    margin-right: 0;
}

.dark-mode .segment-wrapper div:hover {
    color: #000;
    background-color: #fff;
    transition: all 0.5s;
}

.dark-mode .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 30px;
    width: 100%;
}

.dark-mode .header-wrapper > div {
    margin-bottom: 10px;
}

.dark-mode .kpm-wrapper,
.dark-mode .prev-wrapper,
.dark-mode .record-wrapper,
.dark-mode .elapsedTime-wrapper {
    display: flex;
    width: 170px;
}

.dark-mode .kpm-wrapper > p,
.dark-mode .prev-wrapper > p,
.dark-mode .record-wrapper > p,
.dark-mode .elapsedTime-wrapper > p {
    margin-right: 10px;
    width: 75px;
}

.dark-mode #elapsedTime {
    margin-right: 7px;
    width: 58px;
    text-align: end;
}

.dark-mode #kpm {
    text-align: end;
    width: 36px;
}

.dark-mode #prev {
    text-align: end;
    width: 36px;
}

.dark-mode #textToType {
    font-size: 22px;
    margin-bottom: 20px;
    color: #aaa;
}

.dark-mode #record {
    text-align: end;
    width: 36px;
}

.dark-mode #result {
    margin-top: 20px;
    font-size: 20px;
}

.dark-mode #result.success {
    color: #4caf50;
}

.dark-mode #result.error {
    color: #e57373;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

div {
    color: #000;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    color: #000;
}

input[type='text'] {
    padding: 15px 15px 15px 0;
    width: 100%;
    font-size: 22px;
    color: #000;
    background-color: inherit;
    border-bottom: 2px solid #000;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease;
}

input[type='text']:focus {
    background-color: inherit;
}

.wrong {
    color: red;
}

.container {
    padding: 40px;
    width: 100%;
    max-width: 600px;
    min-height: 415px;
    background-color: #fff;
    border-radius: 50px;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
}

.segment-wrapper {
    display: flex;
}

.segment-wrapper div {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.segment-wrapper div:last-child {
    margin-right: 0;
}

.segment-wrapper div:hover {
    color: #cfcde4;
    background-color: #000;
    transition: all 0.5s;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 30px;
    width: 100%;
}

.header-wrapper > div {
    margin-bottom: 10px;
}

.kpm-wrapper,
.prev-wrapper,
.record-wrapper,
.elapsedTime-wrapper {
    display: flex;
    width: 170px;
}

.kpm-wrapper > p,
.prev-wrapper > p,
.record-wrapper > p,
.elapsedTime-wrapper > p {
    margin-right: 10px;
    width: 75px;
}

#elapsedTime {
    margin-right: 7px;
    width: 58px;
    text-align: end;
}

#kpm {
    text-align: end;
    width: 36px;
}

#prev {
    text-align: end;
    width: 36px;
}

#textToType {
    font-size: 22px;
    margin-bottom: 20px;
    color: #555;
}

#record {
    text-align: end;
    width: 36px;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}

#result.success {
    color: #4caf50;
}

#result.error {
    color: #e57373;
}
