/* Dark Mode */
body.dark-mode {
    background-color: #25293c;
}

.dark-mode div {
    color: #cfcde4;
}

.dark-mode h1 {
    color: #cfcde4;
}

.dark-mode input[type='text'] {
    color: #cfcde4;
    border-bottom: 2px solid #fff;
}

.dark-mode .body-wrapper {
    background-color: #2f3349;
}

.dark-mode .segment-wrapper div {
    border: 1px solid #fff;
}

.dark-mode .segment-wrapper div:hover {
    color: #000;
    background-color: #fff;
}

.dark-mode .segment-wrapper,
.dark-mode .kpm-wrapper,
.dark-mode .prev-wrapper,
.dark-mode .record-wrapper,
.dark-mode .elapsedTime-wrapper {
    background-color: #2f3349;
}

.dark-mode #textToType {
    color: #aaa;
}

.dark-mode #result.success {
    color: #4caf50;
}

.dark-mode #result.error {
    color: #e57373;
}

/* Light Mode */

/* 플랫 디자인 스타일 */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-width: 795px;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

div {
    color: #000;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    color: #000;
}

input[type='text'] {
    padding: 15px 15px 15px 0;
    width: 100%;
    font-size: 22px;
    color: #000;
    background-color: inherit;
    border-bottom: 2px solid #000;
    outline: none;
    transition: background-color 0.3s ease;
}

input[type='text']:focus {
    background-color: inherit;
}

.wrong {
    color: red;
}

.body-container {
    display: flex;
    max-width: 560px;
    width: 100%;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

.body-wrapper {
    padding: 40px;
    min-height: 210px;
    background-color: #fff;
    border-radius: 15px;
}

.title-wrapper {
    position: fixed;
    top: 30px;
    left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px - 30px);
}

.svg-container {
    display: flex;
}

.svg-wrapper {
    margin-right: 10px;
    cursor: pointer;
}

.svg-wrapper:last-child {
    margin-right: 0px;
}

.segment-wrapper div {
    text-align: center;
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.segment-wrapper div:hover {
    color: #000;
    background-color: #000;
    transition: all 0.5s;
}

.component-wrapper {
    margin-bottom: 15px;
}

.component-wrapper > div {
    padding: 15px;
    border-radius: 15px;
}

.segment-wrapper,
.kpm-wrapper,
.prev-wrapper,
.record-wrapper,
.elapsedTime-wrapper {
    display: inline-block;
    margin-right: 10px;
    background-color: #fff;
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.segment-wrapper {
    margin-right: 0;
}

.kpm-wrapper > p,
.prev-wrapper > p,
.record-wrapper > p,
.elapsedTime-wrapper > p {
    margin-right: 10px;
    margin-bottom: 30px;
    width: 75px;
}

#elapsedTime {
    text-align: end;
    display: inline-block;
    width: 100%;
    font-size: 20px;

}

#kpm {
    display: inline-block;
    width: 30px;
    text-align: end;
}

#prev {
    display: inline-block;
    width: 30px;
    text-align: end;
}

#textToType {
    font-size: 22px;
    margin-bottom: 20px;
    color: #555;
}

#record {
    display: inline-block;
    width: 30px;
    text-align: end;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}

#result.success {
    color: #4caf50;
}

#result.error {
    color: #e57373;
}

.js-plotly-plot .plotly .main-svg {
    position: absolute;
    top: -52px;
    left: -25px;
    pointer-events: none;
}