<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../reset.css" />
        <link rel="stylesheet" href="typing.css" />
    </head>
    <body>
        <div class="container">
            <h1>타자 연습</h1>
            <div class="header-wrapper">
                <div class="elapsedTime-wrapper">
                    <p>경과 시간:</p>
                    <div id="elapsedTime"></div>
                    <span>초</span>
                </div>
                <div class="kpm-wrapper">
                    <p>현재 타수:</p>
                    <div id="kpm"></div>
                    <span>타 / 분</span>
                </div>
                <div class="record-wrapper">
                    <p>최고 타수:</p>
                    <div id="record">0</div>
                    <span>타 / 분</span>
                </div>
            </div>
            <p id="textToType"></p>
            <input type="text" id="inputText" placeholder="" autocomplete="off" autofocus="true" />
            <div id="result"></div>
        </div>
        <script src="script.js"></script>
    </body>
    <script defer src="typing.js"></script>
</html>
