/* 플랫 디자인 스타일 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #2d2d2d;
}

div {
    color: #fff;
    box-sizing: border-box;
}

h1 {
    margin: 0 auto 60px;
    font-size: 32px;
    color: #fff;
}

input[type='text'] {
    padding: 15px 15px 15px 0;
    width: 100%;
    font-size: 22px;
    color: #ffffff;
    background-color: inherit;
    border-bottom: 2px solid #fff;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease;
}

input[type='text']:focus {
    background-color: inherit;
}

.container {
    padding: 40px;
    width: 100%;
    max-width: 600px;
    min-height: 415px;
    background-color: #333;
    border-radius: 50px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 30px;
    width: 100%;
}

.header-wrapper > div {
    margin-bottom: 10px;
}

.kpm-wrapper,
.record-wrapper,
.elapsedTime-wrapper {
    display: flex;
}

.kpm-wrapper > p,
.record-wrapper > p,
.elapsedTime-wrapper > p {
    margin-right: 10px;
    width: 65px;
}

#elapsedTime {
    width: 63px;
    text-align: end;
}

#kpm {
    text-align: end;
    width: 36px;
}

#textToType {
    font-size: 22px;
    margin-bottom: 20px;
    color: #aaa;
}

#record {
    width: 36px;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}

#result.success {
    color: #4caf50;
}

#result.error {
    color: #e57373;
}
