
  body {
    height : 100vh;
    overflow: hidden;
  }
  
  canvas {
    margin-bottom : 30px;
    width: 70%;
    aspect-ratio: 1 / 1;
    transition: 2s;
  }
  
  button {
      padding: 5px 12px;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border: none;
      background-color: #78cad2;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .active {
    background: #78cad2 !important;
    color: #fff !important;
  }

  #addDiv {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  #menuAdd {
    margin-right: 10px;
    height: 26px;
    border: 1px solid #78cad2;
    border-radius: 5px;
  }
   
  #menu {
    width: 100%;
    height : 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .type-button {
    margin-top: 20px;
  }

  .type-button button {
     background-color: #eaeaea;
  }

  .canvasWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pin {
    content: "";
    position: absolute;
    width: 10px;
    height: 50px;
    border-radius: 5px;
    background: #000;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 22;
  }