<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous"
        />
        <title>룰렛</title>
        <link rel="stylesheet" href="roulette.css" />
        <link rel="stylesheet" href="../../reset.css" />
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    </head>
    <body>
        <div id="menu">
            <div class="header">
                <img src="../../assets/icn-refresh.svg" class="icn-refresh" alt="refresh" onclick="refresh()"/>
                <div id="result"></div>
                <div class="icn-wrapper">
                    <img src="../../assets/icn-menu.svg" alt="menu"/>
                </div>
            </div>
            <div class="canvasWrapper">
                <div class="pin"></div>
                <div class="start-button" onclick="rotate(360, true)">
                    <p>시작</p>
                </div>
                <canvas width="600" height="600"></canvas>
            </div>
        </div>

        <div id="menuList">
            <div id="addDiv">
                <input type="text" id="menuAdd" />
                <button onclick="add()" id="addMenu">추가</button>
            </div>
        </div>
    </body>
    <script>
        const $c = document.querySelector('canvas');
        const ctx = $c.getContext(`2d`);

        const menuAdd = document.querySelector('#menuAdd');
        const menuList = document.querySelector('#menuList');
        const addMenu = document.querySelector('#addMenu');
        const openMenuWrapper = document.querySelector('.icn-wrapper');
        const result = document.querySelector('#result');
        const canvasWrapper = document.querySelector('.canvasWrapper');

        const colors = [];
        const product = {
            place: '서판교',
            foods: ['베트남', '마라탕', '닭갈비', '중국집', '햄버거', '백반', '솥밥', '육개장', '청년다방'],
        };
        
        let currentProduct = product;

        let startAngle = 0;
        let currentRotation = 0;
        let lastMoveTime = 0;
        let lastVelocity = 0;
        let isOpenMenu = false;

        const refresh = () => {
            window.location.reload();
        }

        const addElement = (text) => {
            const newDiv = document.createElement('div');
            const newContent = document.createTextNode(text);
            const cancelImg = document.createElement('img');

            newDiv.className = 'menu-name-' + text;
            newDiv.style.display = 'flex';
            newDiv.style.justifyContent = 'space-between';
            newDiv.style.alignItems = 'center';
            newDiv.style.padding = '15px';
            newDiv.style.borderBottom = '1px solid #eaeaea';
            newDiv.style.cursor = 'pointer';
            newDiv.onclick = (e) => {
                delElement(text, e);
            }

            cancelImg.src = '../../assets/icn-cancel.svg';
            cancelImg.alt = 'cancel';
            
            newDiv.appendChild(newContent);
            newDiv.appendChild(cancelImg);
            menuList.appendChild(newDiv);
        };

        const delElement = (text, e) => {
            e.stopPropagation();

            const currentElement = menuList.querySelector(`.menu-name-${text}`);
            currentProduct.foods = currentProduct.foods.filter(i => i !== text);
            menuList.removeChild(currentElement)
            newMake();
        }

        const calculateAngle = (x, y) => {
            const centerX = 600 / 2;
            const centerY = 600 / 2;
            return Math.atan2(y - centerY, x - centerX) * (180 / Math.PI);
        };

        const touchStartEvent = (e) => {
            const touchX = e.changedTouches[0].clientX;
            const touchY = e.changedTouches[0].clientY;
            startAngle = calculateAngle(touchX, touchY);
            lastMoveTime = Date.now();
        };

        const touchMoveEvent = (e) => {
            const touchX = e.changedTouches[0].clientX;
            const touchY = e.changedTouches[0].clientY;
            const currentAngle = calculateAngle(touchX, touchY);
            const angleDelta = currentAngle - startAngle;

            rotate(angleDelta);

            lastVelocity = angleDelta / (Date.now() - lastMoveTime);
            lastMoveTime = Date.now();
        };

        const touchEndEvent = () => {
            const timeSinceLastMove = Date.now() - lastMoveTime;

            if (timeSinceLastMove < 100) {
                const direction = lastVelocity > 0 ? 1 : -1;
                rotate(currentRotation, true, direction);
            }
        };

        const newMake = () => {
            const [cw, ch] = [$c.width / 2, $c.height / 2];
            const arc = (2 * Math.PI) / currentProduct.foods.length;
            const startAngleOffset = -Math.PI / 2;

            colors.length = 0;

            for (let i = 0; i < currentProduct.foods.length; i++) {
                ctx.beginPath();
                
                // 색상 값의 밝기를 제한 (0~180 범위로 설정하여 너무 밝은 색상 방지)
                let r = Math.floor(Math.random() * 180); // 최대 180
                let g = Math.floor(Math.random() * 180); // 최대 180
                let b = Math.floor(Math.random() * 180); // 최대 180
                colors.push(`rgb(${r}, ${g}, ${b})`);
                
                ctx.fillStyle = colors[i % colors.length];
                ctx.moveTo(cw, ch);
                ctx.arc(
                    cw,
                    ch,
                    cw,
                    startAngleOffset + arc * i,
                    startAngleOffset + arc * (i + 1)
                );
                ctx.fill();
                ctx.closePath();
            }

            ctx.fillStyle = '#fff';
            ctx.font = 'bold 30px Pretendard';
            ctx.textAlign = 'center';

            for (let i = 0; i < currentProduct.foods.length; i++) {
                const angle = startAngleOffset + arc * i + arc / 2;

                ctx.save();
                ctx.translate(
                    cw + Math.cos(angle) * (cw - 50),
                    ch + Math.sin(angle) * (ch - 50)
                );
                ctx.rotate(angle + Math.PI / 2);

                currentProduct.foods[i].split(' ').forEach((text, j) => {
                    ctx.fillText(text, 0, 30 * j);
                });

                ctx.restore();
            }
        };

        const rotate = (angle, spin = false, direction = 1) => {
            $c.style.transition = spin ? `2s` : `initial`;

            if (spin && Math.abs(angle) <= 360 && Math.abs(angle) > 10) {
                const spinAngle = direction * (1800 + Math.floor(Math.random() * 360));
                currentRotation += spinAngle;
                $c.style.transform = `rotate(${currentRotation}deg)`;
                
                setTimeout(() => {
                    const stoppedMenu = getStoppedMenu(currentRotation);

                    if (direction === 1) {
                        result.innerText = `${currentProduct.foods[currentProduct.foods.length - 1 - stoppedMenu]}`;
                    } else {
                        result.innerText = `${currentProduct.foods[stoppedMenu]}`;
                    }
                }, 2000);
            } else {
                currentRotation = angle;
                $c.style.transform = `rotate(${currentRotation}deg)`;
            }
        };

        const getStoppedMenu = (rotation) => {
            let normalizedRotation = Math.abs(rotation) % 360;
            let arc = 360 / currentProduct.foods.length;
            let fractionalMovement = normalizedRotation / arc;
            let integerPart = Math.floor(fractionalMovement);
            let decimalPart = fractionalMovement - integerPart;
            let count = integerPart;

            if (decimalPart > 0) {
                count += 1;
            }

            return count - 1;
        };

        const add = () => {
            if (menuAdd.value.trim()) {
                currentProduct.foods.push(menuAdd.value);
                addElement(menuAdd.value);
                newMake();
                menuAdd.value = '';
            } else {
                alert('메뉴를 입력한 후 버튼을 클릭 해 주세요');
            }
        };

        const openMenu = () => {
            menuList.style.transform = 'translateX(0vw)';
            isOpenMenu = true;
        }

        const closeMenu = () => {
            menuList.style.transform = 'translateX(100vw)';
            isOpenMenu = false;
        }

        const toggleMenu = () => {
            if (isOpenMenu) {
                closeMenu();
            } else {
                openMenu();
            }
        }

        currentProduct.foods.forEach((food) => {
                addElement(food);
            });

        menuAdd.addEventListener('keyup', (e) => {
            if (e.key === 'Enter') {
                add();
            }
        })
        
        openMenuWrapper.addEventListener('click', (e) => {
            toggleMenu();
        });
        
        document.addEventListener('click', (e) => {
            if (isOpenMenu && !menuList.contains(e.target) && !openMenuWrapper.contains(e.target)) {
                closeMenu();
            }
        });

        const handleOrientation = (e) => {
            if (e.currentTarget.innerWidth > e.currentTarget.innerHeight) {
                canvasWrapper.style.width = '40%';
            } else {
                canvasWrapper.style.width = '100%';
            }
        }

        const onloadOrientation = (e) => {
            if (e.currentTarget.innerWidth > e.currentTarget.innerHeight) {
                canvasWrapper.style.width = '40%';
            } else {
                canvasWrapper.style.width = '100%';
            }
        }

        $c.addEventListener('touchstart', touchStartEvent);
        $c.addEventListener('touchmove', touchMoveEvent);
        $c.addEventListener('touchend', touchEndEvent);
        window.addEventListener("orientationchange", handleOrientation);
        window.addEventListener("DOMContentLoaded", onloadOrientation);
        newMake();
    </script>
</html>
